@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  background: #1a1a1a;
}

svg {
cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;;
}

svg:active {
cursor: move; 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

